<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <!-- Start: XDR Request and Response services-->
    <servlet>
        <servlet-name>AdapterXDRRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.AdapterXDRRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRRequest</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.AdapterXDRRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRRequestSecured</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRRequestError</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.error.AdapterXDRRequestError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRRequestError</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestError</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRSecuredRequestError</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.error.AdapterXDRSecuredRequestError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRSecuredRequestError</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestErrorSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.response.AdapterXDRResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRResponse</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredResponse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.response.AdapterXDRResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRResponseSecured</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentXDRResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.deferred.response.AdapterComponentXDRResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentXDRResponse</servlet-name>
        <url-pattern>/AdapterComponentXDRResponse_Service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentXDRRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.deferred.request.AdapterComponentXDRRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentXDRRequest</servlet-name>
        <url-pattern>/AdapterComponentXDRRequest_Service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.AdapterDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocSubmissionSecured</servlet-name>
        <url-pattern>/AdapterDocSubmissionSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.AdapterDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocSubmissionUnsecured</servlet-name>
        <url-pattern>/AdapterDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.AdapterComponentDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocSubmissionSecured</servlet-name>
        <url-pattern>/AdapterComponentDocSubmissionSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.AdapterComponentDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocSubmissionUnsecured</servlet-name>
        <url-pattern>/AdapterComponentDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>
    
    <!-- End: XDR Request and Response services-->
 
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>AdapterXDRRequestSecured</web-resource-name>
			<url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>AdapterXDRSecuredRequestError</web-resource-name>
			<url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestErrorSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>AdapterXDRResponseSecured</web-resource-name>
			<url-pattern>/AdapterService/AdapterDocSubmissionDeferredResponseSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>AdapterDocSubmissionSecured</web-resource-name>
			<url-pattern>/AdapterDocSubmissionSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>AdapterComponentDocSubmissionSecured</web-resource-name>
			<url-pattern>/AdapterComponentDocSubmissionSecured</url-pattern>
		</web-resource-collection>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
