.classpath
.project
.settings
.metadata
build/
dist/
lib/
unit-test-reports/
coverage-reports/
build.generated/
ivy-cache/
ivy-project-cache/
target/
Product/NHINC/
Product/Install/deploy.application.list.xml
Product/Production/Common/Properties/Dev/test*.properties
Product/Production/Common/CONNECTCoreLib/testMPI.xml
C:/
bin/
.externalToolBuilders/
Product/Install/local.install.properties
Product/Install/install.debug.log
Product/Install/.backup*/