.classpath
.project
.settings
.metadata
.checkstyle
.DS_Store
.pmd
*.log
MANIFEST.MF
.externalToolBuilders/
maven-eclipse.xml
build/
dist/
lib/
C:/
bin/
unit-test-reports/
coverage-reports/
build.generated/
ivy-cache/
ivy-project-cache/
target/
Product/NHINC/
Product/.ant-deploy-*/
Product/Production/Common/Properties/Dev/test*.properties
Product/Production/Common/CONNECTCoreLib/*test*.properties
Product/Production/Services/PatientDiscoveryCore/testMPI.xml
Product/Install/deploy.application.list.xml
Product/Install/local.install.properties
Product/Install/.installer.temp/
Product/Install/.backup*/
Product/PmdReport/
CheckstyleReport/
MANIFEST.MF
1234-xdm.zip
.validationsuite.temp/
faces-config.NavData

## Direct

RawMsgFolder/
BadMsgFolder/
OutgoingMsgFolder/
IncomingMsgFolder/
/tmp

## IDE-Specific Files and Folders

# Netbeans
nbproject/
nb-configuration.xml
nbactions.xml

# Intellij
.idea/
*.iml
*.iws
#Fortify scan
*.fpr
