<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredReqQueueProcess</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.queue.AdapterDocRetrieveDeferredReqQueueProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredReqQueueProcess</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredReqQueueProcess</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocRetrieveSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.AdapterDocRetrieveSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.AdapterDocRetrieveDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestUnsecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.AdapterDocRetrieveDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.error.AdapterDocRetrieveDeferredRequestErrorUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorUnsecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestErrorUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.error.AdapterDocRetrieveDeferredRequestErrorSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestErrorSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocRetrieveDeferredRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.component.deferred.request.AdapterComponentDocRetrieveDeferredRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocRetrieveDeferredRequest</servlet-name>
        <url-pattern>/AdapterComponentDocRetrieveDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.response.AdapterDocRetrieveDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredResponseUnsecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.response.AdapterDocRetrieveDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredResponseSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocRetrieveDeferredResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.component.deferred.response.AdapterComponentDocRetrieveDeferredResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocRetrieveDeferredResponse</servlet-name>
        <url-pattern>/AdapterComponentDocRetrieveDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <!-- End: XDR Request and Response services -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredRespSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveDeferredRespSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredRequestSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredRequestErrorSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveyDeferredRequestErrorSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredResponseSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveDeferredResponseSecured</url-pattern>
        </web-resource-collection>

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
