<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>DocQuery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docquery.DocQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocQuery</servlet-name>
		<url-pattern>/NhinService/RespondingGateway_Query_Service/DocQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityDocQuerySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docquery.entity.EntityDocQuerySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityDocQuerySecured</servlet-name>
		<url-pattern>/EntityService/EntityDocQuerySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyDocQuerySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docquery.proxy.NhincProxyDocQuerySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyDocQuerySecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyDocQuerySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdapterDocQueryService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.adapterdocquery.AdapterDocQueryService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdapterDocQueryService</servlet-name>
		<url-pattern>/AdapterProxyService/AdapterDocQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdapterDocRetrieveService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.adapterdocretrieve.AdapterDocRetrieveService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdapterDocRetrieveService</servlet-name>
		<url-pattern>/AdapterProxyService/AdapterDocRetrieve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityDocRetrieveSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.EntityDocRetrieveSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityDocRetrieveSecured</servlet-name>
		<url-pattern>/EntityService/EntityDocRetrieveSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyDocRetrieveSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrieve.proxy.NhincProxyDocRetrieveSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyDocRetrieveSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyDocRetrieveSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DocRetrieve</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrieve.DocRetrieve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocRetrieve</servlet-name>
		<url-pattern>/NhinService/RespondingGateway_Retrieve_Service/DocRetrieve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdapterPolicyEngine</servlet-name>
		<servlet-class>gov.hhs.nhinc.policyengine.adapterpolicyengine.AdapterPolicyEngine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdapterPolicyEngine</servlet-name>
		<url-pattern>/AdapterProxyService/AdapterPolicyEngine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincComponentAggregator</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.gateway.aggregator.NhincComponentAggregator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincComponentAggregator</servlet-name>
		<url-pattern>/GatewayInternalService/NhincComponentAggregator</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GatewayPolicyEngineFacade</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.policy.GatewayPolicyEngineFacade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GatewayPolicyEngineFacade</servlet-name>
		<url-pattern>/GatewayInternalService/PolicyEngineFacadeService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PolicyEngineTransformationService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.gateway.policyenginetransformation.PolicyEngineTransformationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PolicyEngineTransformationService</servlet-name>
		<url-pattern>/GatewayInternalService/PolicyEngineGatewayTransformationService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdapterAuditQueryService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.adapterauditquery.AdapterAuditQueryService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdapterAuditQueryService</servlet-name>
		<url-pattern>/AdapterProxyService/AdapterAuditQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityAuditLogQuery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.auditquery.entity.EntityAuditLogQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityAuditLogQuery</servlet-name>
		<url-pattern>/EntityService/EntityAuditLogQuerySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincAuditQueryProxy</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.auditquery.proxy.NhincAuditQueryProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincAuditQueryProxy</servlet-name>
		<url-pattern>/EntityService/NhincProxyAuditLogQuerySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuditQuery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.auditquery.AuditQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuditQuery</servlet-name>
		<url-pattern>/NhinService/findAuditEvents/AuditQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityNotifySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.notify.EntityNotifySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityNotifySecured</servlet-name>
		<url-pattern>/EntityService/EntityNotificationConsumerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProxyHiemNotifySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemNotifySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyHiemNotifySecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyNotificationConsumerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProxyHiemSubscribeSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemSubscribeSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyHiemSubscribeSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyNotificationProducerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProxyHiemUnsubscribeSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemUnsubscribeSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyHiemUnsubscribeSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxySubscriptionManagerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntitySubscribeSecuredService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.subscribe.EntitySubscribeSecuredService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntitySubscribeSecuredService</servlet-name>
		<url-pattern>/EntityService/EntityNotificationProducerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityUnsubscribeSecuredService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.unsubscribe.EntityUnsubscribeSecuredService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityUnsubscribeSecuredService</servlet-name>
		<url-pattern>/EntityService/EntitySubscriptionManagerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GatewaySubscriptionReferenceRepository</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.subscription.repository.GatewaySubscriptionReferenceRepository</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GatewaySubscriptionReferenceRepository</servlet-name>
		<url-pattern>/GatewayInternalService/NhincComponentSubscriptionReferenceRepository</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GatewaySubscriptionRepository</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.subscription.repository.GatewaySubscriptionRepository</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GatewaySubscriptionRepository</servlet-name>
		<url-pattern>/GatewayInternalService/NhincComponentSubscriptionRepository</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiemSubscriptionRepositoryUtilService</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.subscription.repository.util.HiemSubscriptionRepositoryUtilService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiemSubscriptionRepositoryUtilService</servlet-name>
		<url-pattern>/GatewayInternalService/HiemSubscriptionRepositoryUtil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiemNotify</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiemnotify.HiemNotify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiemNotify</servlet-name>
		<url-pattern>/NhinService/NotificationConsumerService/HiemNotify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiemSubscription</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiemsubscription.HiemSubscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiemSubscription</servlet-name>
		<url-pattern>/NhinService/NotificationProducerService/HiemSubscription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiemUnsubscribe</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiemunsubscribe.HiemUnsubscribe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiemUnsubscribe</servlet-name>
		<url-pattern>/NhinService/SubscriptionManagerService/HiemUnsubscribe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdapterPatientDiscovery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.adapter.patientdiscovery.AdapterPatientDiscovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdapterPatientDiscovery</servlet-name>
		<url-pattern>/AdapterProxyService/AdapterPatientDiscovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdapterSubjectDiscovery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.adapter.subjectdiscovery.AdapterSubjectDiscovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdapterSubjectDiscovery</servlet-name>
		<url-pattern>/AdapterProxyService/AdapterSubjectDiscovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityPatientDiscoverySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.EntityPatientDiscoverySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityPatientDiscoverySecured</servlet-name>
		<url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyPatientDiscoverySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.patientdiscovery.proxy.NhincProxyPatientDiscoverySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyPatientDiscoverySecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyPatientDiscoverySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntitySubjectDiscoverySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.subjectdiscovery.entity.EntitySubjectDiscoverySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntitySubjectDiscoverySecured</servlet-name>
		<url-pattern>/EntityService/EntitySubjectDiscoverySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincSubjectDiscoverySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.subjectdiscovery.proxy.NhincSubjectDiscoverySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincSubjectDiscoverySecured</servlet-name>
		<url-pattern>/EntityService/NhincProxySubjectDiscoverySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhinPatientDiscovery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.patientdiscovery.NhinPatientDiscovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhinPatientDiscovery</servlet-name>
		<url-pattern>/NhinService/NhinPatientDiscovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubjectDiscovery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.subjectdiscovery.SubjectDiscovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectDiscovery</servlet-name>
		<url-pattern>/NhinService/NhinSubjectDiscovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyXDRSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.xdr.proxy.NhincProxyXDRSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyXDRSecured</servlet-name>
		<url-pattern>/EntityService/ProxyXDRSecured_Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyXDRRequestSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.xdr.request.proxy.NhincProxyXDRRequestSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyXDRRequestSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyXDRRequestSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyXDRResponseSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.xdr.response.proxy.NhincProxyXDRResponseSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyXDRResponseSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyXDRResponseSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntityXDRSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.xdr.entity.EntityXDRSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntityXDRSecured</servlet-name>
		<url-pattern>/EntityService/EntityXDRSecured</url-pattern>
	</servlet-mapping>
    <!-- Start: XDR Request and Response services-->
    <servlet>
        <servlet-name>NhinXDRRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.async.request.NhinXDRRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhinXDRRequest</servlet-name>
        <url-pattern>/NhinService/XDRRequest_Service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhinXDRResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.async.response.NhinXDRResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhinXDRResponse</servlet-name>
        <url-pattern>/NhinService/XDRResponse_Service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntityXDRRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.request.entity.EntityXDRRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityXDRRequestSecured</servlet-name>
        <url-pattern>/EntityService/EntityXDRRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntityXDRResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.response.entity.EntityXDRResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityXDRResponseSecured</servlet-name>
        <url-pattern>/EntityService/EntityXDRResponseSecured</url-pattern>
    </servlet-mapping>
    <!-- End: XDR Request and Response services-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DocQuery</web-resource-name>
			<url-pattern>/NhinService/RespondingGateway_Query_Service/DocQuery</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityDocQuerySecured</web-resource-name>
			<url-pattern>/EntityService/EntityDocQuerySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyDocQuerySecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyDocQuerySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityDocRetrieveSecured</web-resource-name>
			<url-pattern>/EntityService/EntityDocRetrieveSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyDocRetrieveSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyDocRetrieveSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>DocRetrieve</web-resource-name>
			<url-pattern>/NhinService/RespondingGateway_Retrieve_Service/DocRetrieve</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityAuditLogQuery</web-resource-name>
			<url-pattern>/EntityService/EntityAuditLogQuerySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincAuditQueryProxy</web-resource-name>
			<url-pattern>/EntityService/NhincProxyAuditLogQuerySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>AuditQuery</web-resource-name>
			<url-pattern>/NhinService/findAuditEvents/AuditQuery</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityNotifySecured</web-resource-name>
			<url-pattern>/EntityService/EntityNotificationConsumerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ProxyHiemNotifySecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyNotificationConsumerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ProxyHiemSubscribeSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyNotificationProducerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ProxyHiemUnsubscribeSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxySubscriptionManagerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntitySubscribeSecuredService</web-resource-name>
			<url-pattern>/EntityService/EntityNotificationProducerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityUnsubscribeSecuredService</web-resource-name>
			<url-pattern>/EntityService/EntitySubscriptionManagerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>HiemNotify</web-resource-name>
			<url-pattern>/NhinService/NotificationConsumerService/HiemNotify</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>HiemSubscription</web-resource-name>
			<url-pattern>/NhinService/NotificationProducerService/HiemSubscription</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>HiemUnsubscribe</web-resource-name>
			<url-pattern>/NhinService/SubscriptionManagerService/HiemUnsubscribe</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityPatientDiscoverySecured</web-resource-name>
			<url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyPatientDiscoverySecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyPatientDiscoverySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntitySubjectDiscoverySecured</web-resource-name>
			<url-pattern>/EntityService/EntitySubjectDiscoverySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincSubjectDiscoverySecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxySubjectDiscoverySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhinPatientDiscovery</web-resource-name>
			<url-pattern>/NhinService/NhinPatientDiscovery</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>SubjectDiscovery</web-resource-name>
			<url-pattern>/NhinService/NhinSubjectDiscovery</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyXDRSecured</web-resource-name>
			<url-pattern>/EntityService/ProxyXDRSecured_Service</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyXDRRequestSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyXDRRequestSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyXDRResponseSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyXDRResponseSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>EntityXDRSecured</web-resource-name>
			<url-pattern>/EntityService/EntityXDRSecured</url-pattern>
		</web-resource-collection>
        <!-- Start: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>NhinXDRRequest</web-resource-name>
            <url-pattern>/NhinService/XDRRequest_Service</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhinXDRResponse</web-resource-name>
            <url-pattern>/NhinService/XDRResponse_Service</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityXDRRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityXDRRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityXDRResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityXDRResponseSecured</url-pattern>
        </web-resource-collection>
        <!-- End: XDR Request and Response services-->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>certificate</realm-name>
	</login-config>
	<session-config>
		<session-timeout>
            30
        </session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
