<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx       http://www.springframework.org/schema/tx/spring-tx.xsd
        http://cxf.apache.org/jaxws                    http://cxf.apache.org/schemas/jaxws.xsd
        http://camel.apache.org/schema/spring          http://camel.apache.org/schema/spring/camel-spring.xsd
        http://www.springframework.org/schema/util     http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/jee      http://www.springframework.org/schema/jee/spring-jee-3.0.xsd"
    default-autowire="byName">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <context:component-scan base-package="gov.hhs.fha.nhinc.directconfig" />

    <!--jee:jndi-lookup id="dataSource" jndi-name="jdbc/configdb_datasource" /-->

    <jaxws:endpoint id="configurationService" address="/ConfigurationService" implementor="gov.hhs.fha.nhinc.directconfig.service.impl.ConfigurationServiceImpl" />

    <!-- Exception translation bean post processor -->
    <!--bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" /-->

    <!-- Camel Context for cache update and trust bundle processors -->
    <bean id="bundleRefreshProcessor" class="gov.hhs.fha.nhinc.directconfig.processor.impl.DefaultBundleRefreshProcessorImpl" />

    <bean id="bundleCacheUpdateProcessor" class="gov.hhs.fha.nhinc.directconfig.processor.impl.DefaultBundleCacheUpdateProcessorImpl">
        <property name="refreshProcessor" ref="bundleRefreshProcessor" />
    </bean>

    <camelContext id="web-camel-context" xmlns="http://camel.apache.org/schema/spring">
        <template id="bundleRefresh" defaultEndpoint="seda:refresh-start" />

        <route id="refreshBundle">
            <from uri="seda:refresh-start" />
            <bean ref="bundleRefreshProcessor" />
        </route>

        <route id="cache-refresher">
            <from uri="timer://cache-refresh?period=1h" />
            <bean ref="bundleCacheUpdateProcessor" />
        </route>
    </camelContext>
</beans>
