<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>EntityDocQuerySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.entity.EntityDocQuerySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocQuerySecured</servlet-name>
        <url-pattern>/EntityService/EntityDocQuerySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocQueryUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.entity.EntityDocQueryUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocQueryUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocQueryUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocQueryDeferredReqSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.entity.deferred.request.EntityDocQueryDeferredReqSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocQueryDeferredReqSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocQueryDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocQueryDeferredReq</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.entity.deferred.request.EntityDocQueryDeferredReq</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocQueryDeferredReq</servlet-name>
        <url-pattern>/EntityService/EntityDocQueryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocQueryDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.entity.deferred.response.EntityDocQueryDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocQueryDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocQueryDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocQueryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.entity.deferred.response.EntityDocQueryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocQueryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocQueryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocRetrieveSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.EntityDocRetrieveSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocRetrieveSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocRetrieveSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocRetrieve</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.EntityDocRetrieve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocRetrieve</servlet-name>
        <url-pattern>/EntityService/EntityDocRetrieve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterAuditQueryService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapterauditquery.AdapterAuditQueryService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterAuditQueryService</servlet-name>
        <url-pattern>/AdapterProxyService/AdapterAuditQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityAuditLogQuery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.auditquery.entity.EntityAuditLogQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityAuditLogQuery</servlet-name>
        <url-pattern>/EntityService/EntityAuditLogQuerySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityNotifySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.notify.EntityNotifySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityNotifySecured</servlet-name>
        <url-pattern>/EntityService/EntityNotificationConsumerSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntitySubscribeSecuredService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.subscribe.EntitySubscribeSecuredService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntitySubscribeSecuredService</servlet-name>
        <url-pattern>/EntityService/EntityNotificationProducerSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityUnsubscribeSecuredService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.unsubscribe.EntityUnsubscribeSecuredService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityUnsubscribeSecuredService</servlet-name>
        <url-pattern>/EntityService/EntitySubscriptionManagerSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GatewaySubscriptionReferenceRepository</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subscription.repository.GatewaySubscriptionReferenceRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GatewaySubscriptionReferenceRepository</servlet-name>
        <url-pattern>/GatewayInternalService/NhincComponentSubscriptionReferenceRepository</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GatewaySubscriptionRepository</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subscription.repository.GatewaySubscriptionRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GatewaySubscriptionRepository</servlet-name>
        <url-pattern>/GatewayInternalService/NhincComponentSubscriptionRepository</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HiemSubscriptionRepositoryUtilService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subscription.repository.util.HiemSubscriptionRepositoryUtilService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiemSubscriptionRepositoryUtilService</servlet-name>
        <url-pattern>/GatewayInternalService/HiemSubscriptionRepositoryUtil</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterSubjectDiscovery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapter.subjectdiscovery.AdapterSubjectDiscovery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterSubjectDiscovery</servlet-name>
        <url-pattern>/AdapterProxyService/AdapterSubjectDiscovery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.EntityPatientDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoverySecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.EntityPatientDiscoveryUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryUnsecured</servlet-name>
        <url-pattern>/EntityPatientDiscovery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.deferred.response.EntityPatientDiscoveryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.deferred.response.EntityPatientDiscoveryDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.deferred.request.EntityPatientDiscoveryDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredRequestSecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.entity.deferred.request.EntityPatientDiscoveryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntitySubjectDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subjectdiscovery.entity.EntitySubjectDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntitySubjectDiscoverySecured</servlet-name>
        <url-pattern>/EntityService/EntitySubjectDiscoverySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.entity.EntityDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.entity.EntityDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.entity.deferred.request.EntityDocSubmissionDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredRequestSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.entity.deferred.request.EntityDocSubmissionDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredRequestUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.entity.deferred.response.EntityDocSubmissionDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.entity.deferred.response.EntityDocSubmissionDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuditRepository</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.auditrepository.nhinc.AuditRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuditRepository</servlet-name>
        <url-pattern>/GatewayService/AuditRepositoryManagerSecuredService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuditRepositoryUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.auditrepository.nhinc.AuditRepositoryUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuditRepositoryUnsecured</servlet-name>
        <url-pattern>/GatewayService/AuditRepositoryManagerService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PatientCorrelationServiceSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientcorrelation.nhinc.PatientCorrelationServiceSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientCorrelationServiceSecured</servlet-name>
        <url-pattern>/GatewayService/PatientCorrelationServiceSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PatientCorrelationServiceUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientcorrelation.nhinc.PatientCorrelationServiceUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientCorrelationServiceUnsecured</servlet-name>
        <url-pattern>/GatewayService/PatientCorrelationServiceUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GatewayLiftManager</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.lift.GatewayLiftManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GatewayLiftManager</servlet-name>
        <url-pattern>/GatewayService/GatewayLiftManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PolicyEngineTransformationService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.gateway.policyenginetransformation.PolicyEngineTransformationService</servlet-class>       
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyEngineTransformationService</servlet-name>
        <url-pattern>/NhincComponentInternalPolicyEngineTransformService</url-pattern>
    </servlet-mapping>

    <!-- BEGIN: Document Retrieve Deferred Services -->
    <servlet>
        <servlet-name>EntityDocRetrieveDeferredReq</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.deferred.request.EntityDocRetrieveDeferredReq</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocRetrieveDeferredReq</servlet-name>
        <url-pattern>/EntityService/EntityDocRetrieveDeferredRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocRetrieveDeferredReqSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.deferred.request.EntityDocRetrieveDeferredReqSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocRetrieveDeferredReqSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocRetrieveDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocRetrieveDeferredResp</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.deferred.response.EntityDocRetrieveDeferredResp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocRetrieveDeferredResp</servlet-name>
        <url-pattern>/EntityService/EntityDocRetrieveDeferredResponse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocRetrieveDeferredRespSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.entity.deferred.response.EntityDocRetrieveDeferredRespSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocRetrieveDeferredRespSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocRetrieveDeferredResponseSecured</url-pattern>
    </servlet-mapping>
  <!-- END: Document Retrieve Deferred Services -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>EntityAdministrativeDistributionSecured</web-resource-name>
            <url-pattern>/EntityService/AdministrativeDistributionSecured</url-pattern>
        </web-resource-collection>
    <!-- BEGIN: Document Query Services -->
        <web-resource-collection>
            <web-resource-name>EntityDocQuerySecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocQuerySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocQueryDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocQueryDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocQueryDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocQueryDeferredResponseSecured</url-pattern>
        </web-resource-collection>
    <!-- END: Document Query Services -->
    <!-- BEGIN: Document Retrieve Services -->
        <web-resource-collection>
            <web-resource-name>EntityDocRetrieveSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocRetrieveSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocRetrieveDeferredRespSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocRetrieveDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocRetrieveDeferredReqSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocRetrieveDeferredRequestSecured</url-pattern>
        </web-resource-collection>
    <!-- END: Document Retrieve Services -->
        <web-resource-collection>
            <web-resource-name>EntityAuditLogQuery</web-resource-name>
            <url-pattern>/EntityService/EntityAuditLogQuerySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityNotifySecured</web-resource-name>
            <url-pattern>/EntityService/EntityNotificationConsumerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntitySubscribeSecuredService</web-resource-name>
            <url-pattern>/EntityService/EntityNotificationProducerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityUnsubscribeSecuredService</web-resource-name>
            <url-pattern>/EntityService/EntitySubscriptionManagerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoverySecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredReqQueueSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredReqQueueSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntitySubjectDiscoverySecured</web-resource-name>
            <url-pattern>/EntityService/EntitySubjectDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionSecured</url-pattern>
        </web-resource-collection>
    <!-- Start: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseSecured</url-pattern>
        </web-resource-collection>
    <!-- End: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>AuditRepository</web-resource-name>
            <url-pattern>/GatewayService/AuditRepositoryManagerSecuredService</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>PatientCorrelationServiceSecured</web-resource-name>
            <url-pattern>/GatewayService/PatientCorrelationServiceSecured</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
