<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!--  
		<servlet>
			<servlet-name>InitServlet</servlet-name>
			<servlet-class>gov.hhs.fha.nhinc.gateway.servlet.InitServlet</servlet-class>
			<load-on-startup>1</load-on-startup>
		</servlet>
	-->
    <servlet>
        <servlet-name>EntityDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.entity.EntityDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.entity.EntityDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.entity.deferred.request.EntityDocSubmissionDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredRequestSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.entity.deferred.request.EntityDocSubmissionDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredRequestUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.entity.deferred.response.EntityDocSubmissionDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.entity.deferred.response.EntityDocSubmissionDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>
    
    <servlet>
            <servlet-name>NhinXDR</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.nhin.NhinXDR</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NhinXDR</servlet-name>
            <url-pattern>/DocumentRepositoryXDR_Service</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>NhinXDRRequest</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.nhin.deferred.request.NhinXDRRequest</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NhinXDRRequest</servlet-name>
            <url-pattern>/NhinService/XDRRequest_Service</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>NhinXDRResponse</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.nhin.deferred.response.NhinXDRResponse</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NhinXDRResponse</servlet-name>
            <url-pattern>/NhinService/XDRResponse_Service</url-pattern>
        </servlet-mapping>
    
    <servlet>
            <servlet-name>PassthruDocSubmissionDeferredRequestSecured</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.passthru.deferred.request.PassthruDocSubmissionDeferredRequestSecured</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PassthruDocSubmissionDeferredRequestSecured</servlet-name>
            <url-pattern>/EntityService/PassthruDocSubmissionDeferredRequestSecured</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>PassthruDocSubmissionDeferredRequestUnsecured</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.passthru.deferred.request.PassthruDocSubmissionDeferredRequestUnsecured</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PassthruDocSubmissionDeferredRequestUnsecured</servlet-name>
            <url-pattern>/EntityService/PassthruDocSubmissionDeferredRequestUnsecured</url-pattern>
        </servlet-mapping>
    
        <servlet>
            <servlet-name>PassthruDocSubmissionDeferredResponseSecured</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.passthru.deferred.response.PassthruDocSubmissionDeferredResponseSecured</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PassthruDocSubmissionDeferredResponseSecured</servlet-name>
            <url-pattern>/EntityService/PassthruDocSubmissionDeferredResponseSecured</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>PassthruDocSubmissionDeferredResponseUnsecured</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.passthru.deferred.response.PassthruDocSubmissionDeferredResponseUnsecured</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PassthruDocSubmissionDeferredResponseUnsecured</servlet-name>
            <url-pattern>/EntityService/PassthruDocSubmissionDeferredResponseUnsecured</url-pattern>
        </servlet-mapping>
<servlet>
        <servlet-name>PassthruDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.passthru.PassthruDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionSecured</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PassthruDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._11.passthru.PassthruDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionUnsecured</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>

    <security-constraint>
        
         <web-resource-collection>
            <web-resource-name>EntityAuditLogQuery</web-resource-name>
            <url-pattern>/EntityService/EntityAuditLogQuerySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityNotifySecured</web-resource-name>
            <url-pattern>/EntityService/EntityNotificationConsumerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntitySubscribeSecuredService</web-resource-name>
            <url-pattern>/EntityService/EntityNotificationProducerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityUnsubscribeSecuredService</web-resource-name>
            <url-pattern>/EntityService/EntitySubscriptionManagerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoverySecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredReqQueueSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredReqQueueSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionSecured</url-pattern>
        </web-resource-collection>
    <!-- Start: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseSecured</url-pattern>
        </web-resource-collection>
    <!-- End: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>AuditRepository</web-resource-name>
            <url-pattern>/GatewayService/AuditRepositoryManagerSecuredService</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>PatientCorrelationServiceSecured</web-resource-name>
            <url-pattern>/GatewayService/PatientCorrelationServiceSecured</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
