#body1 { width: 320px !important; }
#form1\:clientTabSet { width: 320px !important;  }

#form1\:clientTabSet\:documentTab\:layoutPanel3\:documentSearchLabel { 
	position: relative !important;
	font-family: Arial, Helvetica !important;
	top: 10px !important;
	left: 20px !important;
	 } /* Enter the following Document Search Criteria */
	 

#form1\:clientTabSet\:documentTab\:layoutPanel3\:creationDateLabel {
	font-family: Arial, Helvetica !important;
	font-size: 1em !important;
	left: 15px !important;
	position: absolute !important;
	top: 96px !important;
	}

#form1\:clientTabSet\:documentTab\:layoutPanel3\:creationDate {
	font-family: Arial, Helvetica !important;
	font-size: 1em !important;
	left: 138px !important;
	position: absolute !important;
	top: 96px !important;
	}
	
#form1\:clientTabSet\:documentTab\:layoutPanel3\:label1 {
	left: 148px !important;
	position: absolute !important;
	top: 80px !important;
	vertical-align: top !important;
	}
	
#form1\:clientTabSet\:documentTab\:layoutPanel3\:label2 {
	left: 148px !important;
	position: absolute !important;
	top: 146px !important;
	vertical-align: top !important;
	}
	
#form1\:clientTabSet\:documentTab\:layoutPanel3\:calendar1 {
	font-family: Arial, Helvetica !important;
	font-size: 1em !important;
	left: 138px !important;
	position: absolute !important;
	top: 166px !important;
	}

#form1\:clientTabSet\:documentTab\:layoutPanel3\:docQueryButton {
	font-family: Arial, Helvetica !important;
	font-size: 1.4em !important;
	left: 148px !important;
	position: absolute !important;
	top: 210px !important;
	width: auto !important;
	}
	
#form1\:clientTabSet\:documentTab\:layoutPanel3\:docQueryResults {
	left: 0px !important;
	top: 245px !important;
	width: 320px !important;
	}	
	
#form1\:clientTabSet\:documentTab\:layoutPanel3\:docQueryResults div {
	width: 320px !important;
	}
	
#form1\:connectImage {
	width: 280px !important;
	height: 90px !important;
	top: 15px !important;
	}
#form1\:agencyLogo {
	left: 10px !important;
	top: 0 !important;
	font-size: 14px !important;
	position:absolute;
	}
#form1\:UCLabel1 {
	left: 100px !important;
	top: 0px !important;
	font-size: 14px !important;
	position: absolute !important;
	}

#form1\:patientInfo {
	font-family: Arial, Helvetica !important;
	font-size: 12px !important;
	left: 10px !important;
	top: 120px;
	width: 320px !important;
	}
#form1\:logOutButton {
	font-family: Arial, Helvetica !important;
	font-size: 12px !important;
	left: 270px !important;
	top: 0 !important;
	}



#form1\:clientTabSet\:patientSearchTab\:patientSearchLayoutPanel\:patientSearchButton {
	font-family: Arial, Helvetica !important;
	font-size: 1.4em !important;
	left: 210px !important;
	position: absolute !important;
	top: 130px !important;
	width: auto !important;
	}
	
#form1\:clientTabSet\:patientSearchTab\:patientSearchLayoutPanel\:patientSearchResultTable {
	left: 0px !important;
	top: 155px !important;
	width: 320px !important;
	margin-top: 10px !important;
	}

#form1\:clientTabSet\:patientSearchTab\:patientSearchLayoutPanel\:patientSearchResultTable div {
        width: 320px !important;
        }


#form1\:clientTabSet\:subjectDiscoveryTab\:subjectDiscoveryLayoutPanel\:broadcastInfo2 {
	font-family: Arial, Helvetica !important;
	top: 125px !important;
	left: 20px !important;
	width: 300px !important;
	font-weight: bold;
	}

#form1\:clientTabSet\:subjectDiscoveryTab\:subjectDiscoveryLayoutPanel\:subjectDiscoveryCoorelationTable {
	left: 0 !important;
	width: 320px !important;
	margin-top: 10px !important;
	top: 140px !important;
	}	

#form1\:clientTabSet\:subjectDiscoveryTab\:subjectDiscoveryLayoutPanel\:subjectDiscoveryCoorelationTable div {
        width: 320px !important;
        }
