<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>HOME_COMMUNITY_ID</param-name>
        <param-value>2.16.840.1.113883.3.279</param-value>
    </context-param>
    <context-param>
        <param-name>HOME_COMMUNITY_DESC</param-name>
        <param-value>DoD NHIN Adapter</param-value>
    </context-param>
    <context-param>
        <param-name>HOME_COMMUNITY_NAME</param-name>
        <param-value>MEDCEN2</param-value>
    </context-param>
    <context-param>
        <param-name>C32_STYLE_SHEET</param-name>
        <param-value>http://nhinint01.asu.edu:8080/UniversalClientGUI/faces/resources/CCD.xsl</param-value>
    </context-param>
    <context-param>
        <param-name>BOS_SERVICE_ENDPOINT</param-name>
        <param-value>http://localhost:8080/BOSServiceEndpointProvider/ServiceEndpointProvider?wsdl</param-value>
    </context-param>
    <context-param>
        <param-name>ASSIGNING_AUTHORITY_ID</param-name>
        <param-value>2.16.840.1.113883.3.279</param-value>
    </context-param>
    <context-param>
        <param-name>PURPOSE_OF_USE_CODE_SYSTEM</param-name>
        <param-value>2.16.840.1.113883.3.18.71.1</param-value>
    </context-param>
    <context-param>
        <param-name>PURPOSE_OF_USE_CODE_SYSTEM_NAME</param-name>
        <param-value>nhin-purpose</param-value>
    </context-param>
    <context-param>
        <param-name>USER_ORGANIZATION</param-name>
        <param-value>DoD</param-value>
    </context-param>
    <context-param>
        <param-name>USER_ROLE_CODE_SYSTEM</param-name>
        <param-value>2.16.840.1.113883.6.96</param-value>
    </context-param>
    <context-param>
        <param-name>USER_ROLE_CODE_SYSTEM_NAME</param-name>
        <param-value>SNOMED_CT</param-value>
    </context-param>
    <context-param>
        <param-name>USER_ROLE_DISPLAY_NAME_DEFAULT</param-name>
        <param-value>Physician</param-value>
    </context-param>
    <context-param>
        <param-name>DEFAULT_PURPOSE_OF_USE</param-name>
        <param-value>TREATMENT</param-value>
    </context-param>
    <context-param>
        <param-name>DOCVIEWER_REQUEST_SERVICE</param-name>
        <param-value>http://localhost:8080/UniversalClientWS/DocViewerRequestServicesService</param-value>
    </context-param>
    <context-param>
        <param-name>PURPOSE_OF_USE_CODE_SYSTEM_VERSION</param-name>
        <param-value>1.0</param-value>
    </context-param>
    <context-param>
        <param-name>USER_ROLE_CODE_SYSTEM_VERSION</param-name>
        <param-value>1.0</param-value>
    </context-param>
    <context-param>
        <param-name>PURPOSE_OF_USE_CODE</param-name>
        <param-value>TREATMENT</param-value>
    </context-param>
    <context-param>
        <param-name>USER_ROLE_CODE</param-name>
        <param-value>5555555</param-value>
    </context-param>
    <context-param>
        <param-name>CLAIM_FORM_REF</param-name>
        <param-value>DoD-Ref-Claim</param-value>
    </context-param>
    <context-param><param-name>CLAIM_FORM_STRING</param-name><param-value>blahblah</param-value></context-param>
    <context-param>
        <param-name>SIGNATURE_DATE</param-name>
        <param-value>01/01/2009 01:22:30</param-value>
    </context-param>
    <context-param>
        <param-name>EXPIRATION_DATE</param-name>
        <param-value>01/01/2014 01:22:30</param-value>
    </context-param>
    <context-param>
        <param-name>NUMBER_OF_YEARS</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>DOC_MANAGER_SERVICE</param-name>
        <param-value>http://localhost:8080/DocumentManager_Service/DocumentManagerService</param-value>
    </context-param>
    <context-param>
        <param-name>DODCONNECTOR_WSDL</param-name>
        <param-value>http://localhost:8080/DoDConnectorService/DoDConnectorService?WSDL</param-value>
    </context-param>
    <context-param>
        <param-name>DODCONNECTOR_QNAME</param-name>
        <param-value>urn:gov:hhs:fha:nhinc:adapter:commondatalayer</param-value>
    </context-param>
    <context-param>
        <param-name>DODCONNECTOR_SERVICE</param-name>
        <param-value>DoDConnectorService</param-value>
    </context-param>
    <filter>
        <filter-name>UploadFilter</filter-name>
        <filter-class>com.sun.webui.jsf.util.UploadFilter</filter-class>
        <init-param>
            <description>The maximum allowed upload size in bytes.  If this is set to a negative value, there is no maximum.  The default value is 1000000.</description>
            <param-name>maxSize</param-name>
            <param-value>1000000</param-value>
        </init-param>
        <init-param>
            <description>The size (in bytes) of an uploaded file which, if it is exceeded, will cause the file to be written directly to disk instead of stored in memory.  Files smaller than or equal to this size will be stored in memory.  The default value is 4096.</description>
            <param-name>sizeThreshold</param-name>
            <param-value>4096</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UploadFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
<!--        <init-param>
            <param-name>javax.faces.LIFECYCLE_ID</param-name>
            <param-value>com.sun.faces.lifecycle.PARTIAL</param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExceptionHandlerServlet</servlet-name>
        <servlet-class>com.sun.errorhandler.ExceptionHandler</servlet-class>
        <init-param>
            <param-name>errorHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>errorPort</param-name>
            <param-value>24444</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ThemeServlet</servlet-name>
        <servlet-class>com.sun.webui.theme.ThemeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionHandlerServlet</servlet-name>
        <url-pattern>/error/ExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/NHINDocumentViewer.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.FacesException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>com.sun.rave.web.ui.appbase.ApplicationException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <is-xml>true</is-xml>
        </jsp-property-group>
        </jsp-config>
    </web-app>
