<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DocumentTransform</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.transform.document.DocumentTransform</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentTransform</servlet-name>
        <url-pattern>/NhincComponentDocumentTransform</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincComponentPropAccessor</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.common.propaccessor.NhincComponentPropAccessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincComponentPropAccessor</servlet-name>
        <url-pattern>/NhincComponentPropAccessor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincComponentConnectionManager</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.common.connectionmanager.NhincComponentConnectionManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincComponentConnectionManager</servlet-name>
        <url-pattern>/NhincComponentConnectionManager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UDDIUpdateManager</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.connectmgr.uddi.UDDIUpdateManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UDDIUpdateManager</servlet-name>
        <url-pattern>/NhincComponentUDDIUpdateManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
