<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.gateway.servlet.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EntityPatientDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.EntityPatientDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoverySecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.EntityPatientDiscoveryUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryUnsecured</servlet-name>
        <url-pattern>/EntityPatientDiscovery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.EntityPatientDiscoveryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.EntityPatientDiscoveryDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.EntityPatientDiscoveryDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredRequestSecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntityPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.EntityPatientDiscoveryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhincProxyPatientDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoverySecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyPatientDiscoverySecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscovery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhincProxyPatientDiscovery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscovery</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyPatientDiscovery</url-pattern>
    </servlet-mapping>
	<servlet>
         <servlet-name>NhincProxyPatientDiscoveryDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhincProxyPatientDiscoveryDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoveryDeferredRequestSecured</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyPatientDiscoveryDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhincProxyPatientDiscoveryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyPatientDiscoveryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoveryAsyncResp</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhincProxyPatientDiscoveryAsyncResp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoveryAsyncResp</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyPatientDiscoveryAsyncResp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoverySecuredAsyncResp</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhincProxyPatientDiscoverySecuredAsyncResp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoverySecuredAsyncResp</servlet-name>
        <url-pattern>/EntityService/NhincProxyPatientDiscoveryAsyncRespSecured</url-pattern>
    </servlet-mapping>
    
    <servlet>
            <servlet-name>NhinPatientDiscovery</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhinPatientDiscovery</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NhinPatientDiscovery</servlet-name>
            <url-pattern>/NhinService/NhinPatientDiscovery</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>NhinPatientDiscoveryAsyncReq</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhinPatientDiscoveryAsyncReq</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NhinPatientDiscoveryAsyncReq</servlet-name>
            <url-pattern>/NhinService/NhinPatientDiscoveryAsyncReq</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>NhinPatientDiscoveryAsyncResp</servlet-name>
            <servlet-class>gov.hhs.fha.nhinc.patientdiscovery._10.gateway.ws.NhinPatientDiscoveryAsyncResp</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>NhinPatientDiscoveryAsyncResp</servlet-name>
            <url-pattern>/NhinService/NhinPatientDiscoveryAsyncResp</url-pattern>
    </servlet-mapping>

    <security-constraint>
	<web-resource-collection>
	    <web-resource-name>EntityPatientDiscoverySecured</web-resource-name>
	    <url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
	</web-resource-collection>
 	<web-resource-collection>
	    <web-resource-name>EntityPatientDiscoveryDeferredResponseSecured</web-resource-name>
	    <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseSecured</url-pattern>
	</web-resource-collection>	
        <web-resource-collection>
	    <web-resource-name>EntityPatientDiscoveryDeferredRequestSecured</web-resource-name>
	    <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestSecured</url-pattern>
	</web-resource-collection>
        <web-resource-collection>
	    <web-resource-name>NhincProxyPatientDiscoverySecured</web-resource-name>
	    <url-pattern>/EntityService/NhincProxyPatientDiscoverySecured</url-pattern>
	</web-resource-collection>
        <web-resource-collection>
	    <web-resource-name>NhincProxyPatientDiscoveryDeferredRequestSecured</web-resource-name>
	    <url-pattern>/MsgProxy/NhincProxyPatientDiscoveryDeferredRequestSecured</url-pattern>
	</web-resource-collection>
        <web-resource-collection>
	    <web-resource-name>NhincProxyPatientDiscoverySecuredAsyncResp</web-resource-name>
	    <url-pattern>/EntityService/NhincProxyPatientDiscoveryAsyncRespSecured</url-pattern>
	</web-resource-collection>
        <web-resource-collection>
	    <web-resource-name>NhinPatientDiscovery</web-resource-name>
	    <url-pattern>/NhinService/NhinPatientDiscovery</url-pattern>
	</web-resource-collection>
        <web-resource-collection>
	    <web-resource-name>NhinPatientDiscoveryAsyncReq</web-resource-name>
	    <url-pattern>/NhinService/NhinPatientDiscoveryAsyncReq</url-pattern>
	</web-resource-collection>
        <web-resource-collection>
	    <web-resource-name>NhinPatientDiscoveryAsyncResp</web-resource-name>
	    <url-pattern>/NhinService/NhinPatientDiscoveryAsyncResp</url-pattern>
	</web-resource-collection>	
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
