<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DocumentRegistryService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docregistry.adapter.DocumentRegistryService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentRegistryService</servlet-name>
        <url-pattern>/DocumentRegistry_Service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocumentRepositoryService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docrepository.adapter.DocumentRepositoryService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentRepositoryService</servlet-name>
        <url-pattern>/DocumentRepository_Service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocQuerySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.AdapterDocQuerySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQuerySecured</servlet-name>
        <url-pattern>/AdapterDocQuerySecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocQueryUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.AdapterDocQueryUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryUnsecured</servlet-name>
        <url-pattern>/AdapterDocQueryUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocQueryDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.request.AdapterDocQueryDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredRequestSecured</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocQueryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.request.AdapterDocQueryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocQueryDeferredRequestErrorSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.request.error.AdapterDocQueryDeferredRequestErrorSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredRequestErrorSecured</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredRequestErrorSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocQueryDeferredRequestErrorUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.request.error.AdapterDocQueryDeferredRequestErrorUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredRequestErrorUnsecured</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredRequestErrorUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterComponentDocQueryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.component.deferred.request.AdapterComponentDocQueryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocQueryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/AdapterComponentDocQueryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocQueryDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.response.AdapterDocQueryDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredResponseSecured</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocQueryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.response.AdapterDocQueryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterComponentDocQueryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.component.deferred.response.AdapterComponentDocQueryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocQueryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/AdapterComponentDocQueryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>AdapterDocQueryDeferredReqQueueProcess</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.adapter.deferred.request.queue.AdapterDocQueryDeferredReqQueueProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocQueryDeferredReqQueueProcess</servlet-name>
        <url-pattern>/AdapterDocQueryDeferredReqQueueProcess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredReqQueueProcess</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.queue.AdapterDocRetrieveDeferredReqQueueProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredReqQueueProcess</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredReqQueueProcess</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocRetrieveSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.AdapterDocRetrieveSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.AdapterDocRetrieveDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestUnsecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.AdapterDocRetrieveDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.error.AdapterDocRetrieveDeferredRequestErrorUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorUnsecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestErrorUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.request.error.AdapterDocRetrieveDeferredRequestErrorSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredRequestErrorSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredRequestErrorSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocRetrieveDeferredRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.component.deferred.request.AdapterComponentDocRetrieveDeferredRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocRetrieveDeferredRequest</servlet-name>
        <url-pattern>/AdapterComponentDocRetrieveDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.response.AdapterDocRetrieveDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredResponseUnsecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocRetrieveDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.deferred.response.AdapterDocRetrieveDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocRetrieveDeferredResponseSecured</servlet-name>
        <url-pattern>/AdapterDocRetrieveDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocRetrieveDeferredResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.adapter.component.deferred.response.AdapterComponentDocRetrieveDeferredResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocRetrieveDeferredResponse</servlet-name>
        <url-pattern>/AdapterComponentDocRetrieveDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocProvideAndRegisterservice</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docprovideandregister.AdapterDocProvideAndRegisterservice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocProvideAndRegisterservice</servlet-name>
        <url-pattern>/AdapterDocProvideAndRegisterservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterAuthenticationService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapterauthentication.AdapterAuthenticationService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterAuthenticationService</servlet-name>
        <url-pattern>/AdapterAuthentication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPolicyEngine</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.policyengine.adapter.AdapterPolicyEngine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPolicyEngine</servlet-name>
        <url-pattern>/AdapterProxyService/AdapterPolicyEngine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPolicyEngineSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.policyengine.adapter.AdapterPolicyEngineSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPolicyEngineSecured</servlet-name>
        <url-pattern>/AdapterPolicyEngineSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPolicyEngineOrchestrator</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.policyengine.adapter.component.AdapterPolicyEngineOrchestrator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPolicyEngineOrchestrator</servlet-name>
        <url-pattern>/AdapterPolicyEngineOrchestrator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPEPService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.policyengine.adapter.pep.AdapterPEPService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPEPService</servlet-name>
        <url-pattern>/AdapterPEP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPIPService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.policyengine.adapter.pip.AdapterPIPService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPIPService</servlet-name>
        <url-pattern>/AdapterPIP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterSecuredAuditLogQuery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapterauditquery.AdapterSecuredAuditLogQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterSecuredAuditLogQuery</servlet-name>
        <url-pattern>/AdapterAuditLogQuerySaml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterReidentification</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapter.reidentification.AdapterReidentification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterReidentification</servlet-name>
        <url-pattern>/AdapterReidentification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterMpiSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.mpi.adapter.AdapterMpiSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterMpiSecured</servlet-name>
        <url-pattern>/AdapterMpiSecuredService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterMpi</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.mpi.adapter.AdapterMpi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterMpi</servlet-name>
        <url-pattern>/AdapterMpiService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterComponentMpi</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.mpi.adapter.component.AdapterComponentMpi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentMpi</servlet-name>
        <url-pattern>/AdapterComponentMpiService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterComponentMpiSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.mpi.adapter.component.AdapterComponentMpiSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentMpiSecured</servlet-name>
        <url-pattern>/AdapterComponentMpiSecuredService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MpiManager</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adaptermpimanager.MpiManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MpiManager</servlet-name>
        <url-pattern>/AdapterMpiManagerService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdapterPatientDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.AdapterPatientDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoverySecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoverySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPatientDiscovery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.AdapterPatientDiscovery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscovery</servlet-name>
        <url-pattern>/AdapterPatientDiscovery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.request.AdapterPatientDiscoveryDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestSecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.request.AdapterPatientDiscoveryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.response.AdapterPatientDiscoveryDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredResponseSecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.response.AdapterPatientDiscoveryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredReqQueueProcess</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.request.queue.AdapterPatientDiscoveryDeferredReqQueueProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredReqQueueProcess</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredReqQueueProcess</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestErrorSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.request.error.AdapterPatientDiscoveryDeferredRequestErrorSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestErrorSecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredRequestErrorSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestErrorUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.adapter.deferred.request.error.AdapterPatientDiscoveryDeferredRequestErrorUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterPatientDiscoveryDeferredRequestErrorUnsecured</servlet-name>
        <url-pattern>/AdapterPatientDiscoveryDeferredRequestErrorUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterSubjectDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapter.subjectdiscovery.AdapterSubjectDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterSubjectDiscoverySecured</servlet-name>
        <url-pattern>/AdapterSubjectDiscoverySecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeferredQueueManager</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.adapter.deferred.queue.DeferredQueueManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeferredQueueManager</servlet-name>
        <url-pattern>/DeferredQueueManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityAuditQuery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.auditquery.entity.EntityAuditQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityAuditQuery</servlet-name>
        <url-pattern>/EntityAuditQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityPerformanceLogQuery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.performancequery.entity.EntityPerformanceLogQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityPerformanceLogQuery</servlet-name>
        <url-pattern>/EntityPerformanceLogQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProxyAuditQuery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.auditquery.proxy.ProxyAuditQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyAuditQuery</servlet-name>
        <url-pattern>/NhincProxyAuditQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityNotifyService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.notify.EntityNotifyService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityNotifyService</servlet-name>
        <url-pattern>/EntityNotificationConsumer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntitySubscribeService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.subscribe.EntitySubscribeService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntitySubscribeService</servlet-name>
        <url-pattern>/EntityNotificationProducer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityUnsubscribeService</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.unsubscribe.EntityUnsubscribeService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityUnsubscribeService</servlet-name>
        <url-pattern>/EntitySubscriptionManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProxyHiemNotify</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemNotify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyHiemNotify</servlet-name>
        <url-pattern>/NhincProxyNotificationConsumer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProxyHiemSubscribe</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemSubscribe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyHiemSubscribe</servlet-name>
        <url-pattern>/NhincProxyNotificationProducer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProxyHiemUnsubscribe</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemUnsubscribe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyHiemUnsubscribe</servlet-name>
        <url-pattern>/NhincProxySubscriptionManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntitySubjectDiscovery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subdisc.entity.EntitySubjectDiscovery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntitySubjectDiscovery</servlet-name>
        <url-pattern>/EntitySubjectDiscovery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NhincProxySubjectDiscovery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subdisc.proxy.NhincProxySubjectDiscovery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxySubjectDiscovery</servlet-name>
        <url-pattern>/NhincProxySubjectDiscovery</url-pattern>
    </servlet-mapping>

    <!-- Start: XDR Request and Response services-->
    <servlet>
        <servlet-name>AdapterXDRRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.AdapterXDRRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRRequest</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.AdapterXDRRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRRequestSecured</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRRequestError</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.error.AdapterXDRRequestError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRRequestError</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestError</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRSecuredRequestError</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.request.error.AdapterXDRSecuredRequestError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRSecuredRequestError</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestErrorSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.response.AdapterXDRResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRResponse</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredResponse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterXDRResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.deferred.response.AdapterXDRResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterXDRResponseSecured</servlet-name>
        <url-pattern>/AdapterService/AdapterDocSubmissionDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentXDRResponse</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.deferred.response.AdapterComponentXDRResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentXDRResponse</servlet-name>
        <url-pattern>/AdapterComponentXDRResponse_Service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentXDRRequest</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.deferred.request.AdapterComponentXDRRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentXDRRequest</servlet-name>
        <url-pattern>/AdapterComponentXDRRequest_Service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.AdapterDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocSubmissionSecured</servlet-name>
        <url-pattern>/AdapterDocSubmissionSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.AdapterDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterDocSubmissionUnsecured</servlet-name>
        <url-pattern>/AdapterDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdapterComponentDocSubmissionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.AdapterComponentDocSubmissionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocSubmissionSecured</servlet-name>
        <url-pattern>/AdapterComponentDocSubmissionSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterComponentDocSubmissionUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission.adapter.component.AdapterComponentDocSubmissionUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentDocSubmissionUnsecured</servlet-name>
        <url-pattern>/AdapterComponentDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterComponentRedactionEngine</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.redactionengine.adapter.AdapterComponentRedactionEngine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterComponentRedactionEngine</servlet-name>
        <url-pattern>/AdapterComponentRedactionService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdapterAdministrativeDistribution</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.admindistribution.adapter.AdapterAdministrativeDistribution</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterAdministrativeDistribution</servlet-name>
        <url-pattern>/AdapterAdministrativeDistribution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdapterAdministrativeDistributionSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.admindistribution.adapter.AdapterAdministrativeDistributionSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdapterAdministrativeDistributionSecured</servlet-name>
        <url-pattern>/AdapterAdministrativeDistributionSecured</url-pattern>
    </servlet-mapping>

    <!-- End: XDR Request and Response services-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdapterAdministrativeDistributionSecured</web-resource-name>
            <url-pattern>/AdapterAdministrativeDistributionSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredRespSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveDeferredRespSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterPolicyEngineSecured</web-resource-name>
            <url-pattern>/AdapterPolicyEngineSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocQuerySecured</web-resource-name>
            <url-pattern>/AdapterDocQuerySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocQueryDeferredRequestSecured</web-resource-name>
            <url-pattern>/AdapterDocQueryDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocQueryDeferredRequestErrorSecured</web-resource-name>
            <url-pattern>/AdapterDocQueryDeferredRequestErrorSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocQueryDeferredResponseSecured</web-resource-name>
            <url-pattern>/AdapterDocQueryDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredRequestSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredRequestErrorSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveyDeferredRequestErrorSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocRetrieveDeferredResponseSecured</web-resource-name>
            <url-pattern>/AdapterDocRetrieveDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterSecuredAuditLogQuery</web-resource-name>
            <url-pattern>/AdapterAuditLogQuerySaml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterMpiSecured</web-resource-name>
            <url-pattern>/AdapterMpiSecuredService</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterComponentMpiSecured</web-resource-name>
            <url-pattern>/AdapterComponentMpiSecuredService</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterPatientDiscoverySecured</web-resource-name>
            <url-pattern>/AdapterPatientDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterPatientDiscoveryDeferredReqSecured</web-resource-name>
            <url-pattern>/AdapterPatientDiscoveryDeferredReqSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterPatientDiscoveryDeferredRespSecured</web-resource-name>
            <url-pattern>/AdapterPatientDiscoveryDeferredRespSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterPatientDiscoveryDeferredRequestErrorSecured</web-resource-name>
            <url-pattern>/AdapterPatientDiscoveryDeferredRequestErrorSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterSubjectDiscoverySecured</web-resource-name>
            <url-pattern>/AdapterSubjectDiscoverySecured</url-pattern>
        </web-resource-collection>
        <!-- Start: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>AdapterXDRRequestSecured</web-resource-name>
            <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterXDRSecuredRequestError</web-resource-name>
            <url-pattern>/AdapterService/AdapterDocSubmissionDeferredRequestErrorSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterXDRResponseSecured</web-resource-name>
            <url-pattern>/AdapterService/AdapterDocSubmissionDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterDocSubmissionSecured</web-resource-name>
            <url-pattern>/AdapterDocSubmissionSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>AdapterComponentDocSubmissionSecured</web-resource-name>
            <url-pattern>/AdapterComponentDocSubmissionSecured</url-pattern>
        </web-resource-collection>
        <!-- End: XDR Request and Response services-->

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
