<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!--  
		<servlet>
			<servlet-name>InitServlet</servlet-name>
			<servlet-class>gov.hhs.fha.nhinc.gateway.servlet.InitServlet</servlet-class>
			<load-on-startup>1</load-on-startup>
		</servlet>
	-->
    <servlet>
        <servlet-name>EntityDocSubmissionSecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.entity.EntityDocSubmissionSecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionSecured_g1</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionUnsecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.entity.EntityDocSubmissionUnsecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionUnsecured_g1</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredRequestSecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.entity.deferred.request.EntityDocSubmissionDeferredRequestSecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredRequestSecured_g1</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredRequestUnsecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.entity.deferred.request.EntityDocSubmissionDeferredRequestUnsecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredRequestUnsecured_g1</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredResponseSecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.entity.deferred.response.EntityDocSubmissionDeferredResponseSecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredResponseSecured_g1</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntityDocSubmissionDeferredResponseUnsecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.entity.deferred.response.EntityDocSubmissionDeferredResponseUnsecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntityDocSubmissionDeferredResponseUnsecured_g1</servlet-name>
        <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NhinXDR_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.nhin.NhinXDR_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhinXDR_g1</servlet-name>
        <url-pattern>/DocumentRepositoryXDR_Service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NhinXDRRequest20</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.nhin.deferred.request.NhinXDRRequest20</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhinXDRRequest20</servlet-name>
        <url-pattern>/NhinService/XDRRequest_Service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NhinXDRResponse20</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.nhin.deferred.response.NhinXDRResponse20</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhinXDRResponse20</servlet-name>
        <url-pattern>/NhinService/XDRResponse_Service</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PassthruDocSubmissionDeferredRequestSecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.passthru.deferred.request.PassthruDocSubmissionDeferredRequestSecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionDeferredRequestSecured_g1</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionDeferredRequestSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassthruDocSubmissionDeferredRequestUnsecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.passthru.deferred.request.PassthruDocSubmissionDeferredRequestUnsecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionDeferredRequestUnsecured_g1</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PassthruDocSubmissionDeferredResponseSecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.passthru.deferred.response.PassthruDocSubmissionDeferredResponseSecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionDeferredResponseSecured_g1</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionDeferredResponseSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassthruDocSubmissionDeferredResponseUnsecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.passthru.deferred.response.PassthruDocSubmissionDeferredResponseUnsecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionDeferredResponseUnsecured_g1</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassthruDocSubmissionSecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.passthru.PassthruDocSubmissionSecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionSecured_g1</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassthruDocSubmissionUnsecured_g1</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docsubmission._20.passthru.PassthruDocSubmissionUnsecured_g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocSubmissionUnsecured_g1</servlet-name>
        <url-pattern>/EntityService/PassthruDocSubmissionUnsecured</url-pattern>
    </servlet-mapping>

    <security-constraint>
        
        <web-resource-collection>
            <web-resource-name>EntityAuditLogQuery</web-resource-name>
            <url-pattern>/EntityService/EntityAuditLogQuerySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityNotifySecured</web-resource-name>
            <url-pattern>/EntityService/EntityNotificationConsumerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntitySubscribeSecuredService</web-resource-name>
            <url-pattern>/EntityService/EntityNotificationProducerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityUnsubscribeSecuredService</web-resource-name>
            <url-pattern>/EntityService/EntitySubscriptionManagerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoverySecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredReqQueueSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredReqQueueSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityPatientDiscoveryDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityPatientDiscoveryDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionSecured</url-pattern>
        </web-resource-collection>
    <!-- Start: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>EntityDocSubmissionDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/EntityDocSubmissionDeferredResponseSecured</url-pattern>
        </web-resource-collection>
    <!-- End: XDR Request and Response services-->
        <web-resource-collection>
            <web-resource-name>AuditRepository</web-resource-name>
            <url-pattern>/GatewayService/AuditRepositoryManagerSecuredService</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>PatientCorrelationServiceSecured</web-resource-name>
            <url-pattern>/GatewayService/PatientCorrelationServiceSecured</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
