<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <context-param>
        <param-name>configService</param-name>
        <param-value>http://localhost:8081/config-service/ConfigurationService</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:CONNECT-interceptor-beans.xml
            classpath:CONNECT-context.xml
            classpath:eventlogging.xml
            classpath:/direct/_10/applicationContext.xml
            classpath:/direct/_10/webservices.xml
        </param-value>
    </context-param>

    <!-- Uncomment if using 'syslog' audit method -->
    <!--context-param>
        <param-name>auditHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>auditPort</param-name>
        <param-value>514</param-value>
    </context-param-->

    <servlet>
        <servlet-name>WebServicePort</servlet-name>
        <!-- For Metro, use this servlet-class instead:
              com.sun.xml.ws.transport.http.servlet.WSServlet -->
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebServicePort</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <resource-ref>
        <res-ref-name>jdbc/eventdb_datasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/messagemonitoringdb_datasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>

