<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <context:annotation-config /> 

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:documentretrieve.properties</value>
                <value>file://${nhinc.properties.dir}/gateway.properties</value>
                <value>classpath:documentretrieve-test.properties</value>
            </list>
        </property>
    </bean>
 
    <bean id="inboundDocRetrieve" class="gov.hhs.fha.nhinc.docretrieve.inbound.DocRetrieve">
       <property name="service">
            <bean class="${docretrieve.20.inbound}" />
        </property>
    </bean>
    
    <bean id="entityDocRetrieveOrchImpl" class="gov.hhs.fha.nhinc.docretrieve.entity.EntityDocRetrieveOrchImpl" />
    
    <bean id="entityDocRetrieveUnsecured" class="gov.hhs.fha.nhinc.docretrieve._20.entity.EntityDocRetrieve">
       <property name="orchestratorImpl"><ref bean="entityDocRetrieveOrchImpl"/></property>
    </bean>
    
    <bean id="entityDocRetrieveSecured" class="gov.hhs.fha.nhinc.docretrieve._20.entity.EntityDocRetrieveSecured">
       <property name="orchestratorImpl"><ref bean="entityDocRetrieveOrchImpl"/></property>
    </bean>
    
    <bean id="passthruDocRetrieveOrchImpl" class="gov.hhs.fha.nhinc.docretrieve.passthru.NhincProxyDocRetrieveOrchImpl" />
    
    <bean id="passthruDocRetrieveUnsecured" class="gov.hhs.fha.nhinc.docretrieve._20.passthru.NhincProxyDocRetrieveUnsecured">
       <property name="orchestratorImpl"><ref bean="passthruDocRetrieveOrchImpl"/></property>
    </bean>

    <bean id="passthruDocRetrieveSecured" class="gov.hhs.fha.nhinc.docretrieve._20.passthru.NhincProxyDocRetrieveSecured">
       <property name="orchestratorImpl"><ref bean="passthruDocRetrieveOrchImpl"/></property>
    </bean>
     
    <bean id="SOAPHeaderHandler" class="gov.hhs.fha.nhinc.callback.SOAPHeaderHandler" />
    <bean id="TransactionHandler" class="gov.hhs.fha.nhinc.logging.transaction.TransactionHandler" />
   
</beans>