<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>NhincProxyDocQuerySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docquery.proxy.NhincProxyDocQuerySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyDocQuerySecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyDocQuerySecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyDocRetrieveSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrieve.proxy.NhincProxyDocRetrieveSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyDocRetrieveSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyDocRetrieveSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProxyHiemNotifySecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemNotifySecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyHiemNotifySecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyNotificationConsumerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProxyHiemSubscribeSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemSubscribeSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyHiemSubscribeSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyNotificationProducerSecured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProxyHiemUnsubscribeSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemUnsubscribeSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyHiemUnsubscribeSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxySubscriptionManagerSecured</url-pattern>
	</servlet-mapping>
	<!-- Begin Nhinc proxy Document retrieve deferred services-->
	<servlet>
		<servlet-name>NhincProxyDocRetrieveDeferredReq</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrievedeferred.nhinc.proxy.request.NhincProxyDocRetrieveDeferredReq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyDocRetrieveDeferredReq</servlet-name>
		<url-pattern>/EntityService/NhincProxyDocRetrieveDeferredRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NhincProxyDocRetrieveDeferredReqSecured</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrievedeferred.nhinc.proxy.request.NhincProxyDocRetrieveDeferredReqSecured</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NhincProxyDocRetrieveDeferredReqSecured</servlet-name>
		<url-pattern>/EntityService/NhincProxyDocRetrieveDeferredRequestSecured</url-pattern>
	</servlet-mapping>
	<!-- End Nhinc proxy Document retrieve deferred services-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>NhincProxyDocQuerySecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyDocQuerySecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>NhincProxyDocRetrieveSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyDocRetrieveSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ProxyHiemNotifySecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyNotificationConsumerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ProxyHiemSubscribeSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyNotificationProducerSecured</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ProxyHiemUnsubscribeSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxySubscriptionManagerSecured</url-pattern>
		</web-resource-collection>
		<!-- Begin Nhinc proxy Document retrieve deferred services-->
		<web-resource-collection>
			<web-resource-name>NhincProxyDocRetrieveDeferredReqSecured</web-resource-name>
			<url-pattern>/EntityService/NhincProxyDocRetrieveDeferredRequestSecured</url-pattern>
		</web-resource-collection>
		<!-- End Nhinc proxy Document retrieve deferred services-->	
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>certificate</realm-name>
	</login-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
