<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NhincProxyDocQuerySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.proxy.NhincProxyDocQuerySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyDocQuerySecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocQuerySecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyDocQueryUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.proxy.NhincProxyDocQueryUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyDocQueryUnsecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocQueryUnsecured</url-pattern>
    </servlet-mapping>

    <!-- Passthru DocQuery Deferred Request servlet mapping -->
    <servlet>
        <servlet-name>PassthruDocQueryDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.passthru.deferred.request.PassthruDocQueryDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocQueryDeferredRequestSecured</servlet-name>
        <url-pattern>/EntityService/PassthruDocQueryDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PassthruDocQueryDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.passthru.deferred.request.PassthruDocQueryDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocQueryDeferredRequestUnsecured</servlet-name>
        <url-pattern>/EntityService/PassthruDocQueryDeferredRequestUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassthruDocQueryDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.passthru.deferred.response.PassthruDocQueryDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocQueryDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/PassthruDocQueryDeferredResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PassthruDocQueryDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docquery.passthru.deferred.response.PassthruDocQueryDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocQueryDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/PassthruDocQueryDeferredResponseUnsecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NhincProxyDocRetrieveSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.proxy.NhincProxyDocRetrieveSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyDocRetrieveSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocRetrieveSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProxyHiemNotifySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemNotifySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyHiemNotifySecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyNotificationConsumerSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProxyHiemSubscribeSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemSubscribeSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyHiemSubscribeSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyNotificationProducerSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProxyHiemUnsubscribeSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.hiem.entity.proxy.ProxyHiemUnsubscribeSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyHiemUnsubscribeSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxySubscriptionManagerSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.proxy.NhincProxyPatientDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoverySecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyPatientDiscoverySecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscovery</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.proxy.NhincProxyPatientDiscovery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscovery</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyPatientDiscovery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoverySecuredAsyncReq</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.proxy.async.request.NhincProxyPatientDiscoverySecuredAsyncReq</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoverySecuredAsyncReq</servlet-name>
        <url-pattern>/EntityService/NhincProxyPatientDiscoveryAsyncReqSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyPatientDiscoverySecuredAsyncResp</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.patientdiscovery.proxy.async.response.NhincProxyPatientDiscoverySecuredAsyncResp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyPatientDiscoverySecuredAsyncResp</servlet-name>
        <url-pattern>/EntityService/NhincProxyPatientDiscoveryAsyncRespSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincSubjectDiscoverySecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.subjectdiscovery.proxy.NhincSubjectDiscoverySecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincSubjectDiscoverySecured</servlet-name>
        <url-pattern>/EntityService/NhincProxySubjectDiscoverySecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyXDRSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.proxy.NhincProxyXDRSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyXDRSecured</servlet-name>
        <url-pattern>/EntityService/ProxyXDRSecured_Service</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyXDRRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.request.proxy.NhincProxyXDRRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyXDRRequestSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyXDRRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincProxyXDRResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.xdr.response.proxy.NhincProxyXDRResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincProxyXDRResponseSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyXDRResponseSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhincAuditQueryProxy</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.auditquery.proxy.NhincAuditQueryProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincAuditQueryProxy</servlet-name>
        <url-pattern>/EntityService/NhincProxyAuditLogQuerySecured</url-pattern>
    </servlet-mapping>
	<!-- Begin Nhinc proxy Document retrieve deferred services-->
    <servlet>
        <servlet-name>PassthruDocRetrieveDeferredRequestUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.passthru.deferred.request.PassthruDocRetrieveDeferredRequestUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocRetrieveDeferredRequestUnsecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocRetrieveDeferredRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PassthruDocRetrieveDeferredRequestSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.passthru.deferred.request.PassthruDocRetrieveDeferredRequestSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocRetrieveDeferredRequestSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocRetrieveDeferredRequestSecured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PassthruDocRetrieveDeferredResponseUnsecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.passthru.deferred.response.PassthruDocRetrieveDeferredResponseUnsecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocRetrieveDeferredResponseUnsecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocRetrieveDeferredResponse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassthruDocRetrieveDeferredResponseSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.docretrieve.passthru.deferred.response.PassthruDocRetrieveDeferredResponseSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassthruDocRetrieveDeferredResponseSecured</servlet-name>
        <url-pattern>/EntityService/NhincProxyDocRetrieveDeferredResponseSecured</url-pattern>
    </servlet-mapping>
        
	<!-- End Nhinc proxy Document retrieve deferred services-->

    <servlet>
        <servlet-name>NhincAdminDistSecured</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.admindist.nhinc.NhincAdminDistSecured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincAdminDistSecured</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyAdminDistSecured</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NhincAdminDist</servlet-name>
        <servlet-class>gov.hhs.fha.nhinc.admindist.nhinc.NhincAdminDist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhincAdminDist</servlet-name>
        <url-pattern>/MsgProxy/NhincProxyAdminDist</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>NhincProxyDocQuerySecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyDocQuerySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>PassthruDocQueryDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/PassthruDocQueryDeferredResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyDocRetrieveSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyDocRetrieveSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>ProxyHiemNotifySecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyNotificationConsumerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>ProxyHiemSubscribeSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyNotificationProducerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>ProxyHiemUnsubscribeSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxySubscriptionManagerSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyPatientDiscoverySecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyPatientDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyPatientDiscoverySecuredAsyncReq</web-resource-name>
            <url-pattern>/EntityService/NhincProxyPatientDiscoveryAsyncReqSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyPatientDiscoverySecuredAsyncResp</web-resource-name>
            <url-pattern>/EntityService/NhincProxyPatientDiscoveryAsyncRespSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincSubjectDiscoverySecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxySubjectDiscoverySecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyXDRSecured</web-resource-name>
            <url-pattern>/EntityService/ProxyXDRSecured_Service</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyXDRRequestSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyXDRRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincProxyXDRResponseSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyXDRResponseSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>NhincAuditQueryProxy</web-resource-name>
            <url-pattern>/EntityService/NhincProxyAuditLogQuerySecured</url-pattern>
        </web-resource-collection>
		<!-- Begin Nhinc proxy Document retrieve deferred services-->
        <web-resource-collection>
            <web-resource-name>PassthruDocRetrieveDeferredRequestSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyDocRetrieveDeferredRequestSecured</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>PassthruDocRetrieveDeferredResponseSecured</web-resource-name>
            <url-pattern>/EntityService/NhincProxyDocRetrieveDeferredResponseSecured</url-pattern>
        </web-resource-collection>
		<!-- End Nhinc proxy Document retrieve deferred services-->
        <web-resource-collection>
            <web-resource-name>NhincAdminDistSecured</web-resource-name>
            <url-pattern>/MsgProxy/NhincProxyAdminDistSecured</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>certificate</realm-name>
    </login-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
