<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true" />
    <context:annotation-config />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:admindistribution20.properties</value>
                <value>file:///${nhinc.properties.dir}/gateway.properties</value>
                <value>classpath:admindistribution-test.properties</value>
            </list>
        </property>
    </bean>

    <bean id="NhinAdministrativeDistributionBean_g1" class="gov.hhs.fha.nhinc.admindistribution._20.nhin.NhinAdministrativeDistribution_g1">
        <property name="inboundAdminDistribution">
            <bean class="${admindist.inboundAdminDist}" />
        </property>
    </bean>

    <bean id="EntityAdministrativeDistributionSecuredBean_g1" class="gov.hhs.fha.nhinc.admindistribution._20.entity.EntityAdministrativeDistributionSecured_g1">
        <property name="outboundAdminDistribution">
            <bean class="${admindist.outboundAdminDist}" />
        </property>
    </bean>

    <bean id="EntityAdministrativeDistributionBean_g1" class="gov.hhs.fha.nhinc.admindistribution._20.entity.EntityAdministrativeDistribution_g1">
        <property name="outboundAdminDistribution">
            <bean class="${admindist.outboundAdminDist}" />
        </property>
    </bean>

    <bean id="stdADOutbound"
      class="gov.hhs.fha.nhinc.admindistribution.outbound.StandardOutboundAdminDistribution">
    </bean>

    <bean id="ptADOutbound"
      class="gov.hhs.fha.nhinc.admindistribution.outbound.PassthroughOutboundAdminDistribution">
    </bean>

    <bean id="stdADInbound"
      class="gov.hhs.fha.nhinc.admindistribution.inbound.StandardInboundAdminDistribution">
    </bean>

    <bean id="ptADInbound"
      class="gov.hhs.fha.nhinc.admindistribution.inbound.PassthroughInboundAdminDistribution">
    </bean>

    <bean id="SOAPHeaderHandler" class="gov.hhs.fha.nhinc.callback.SOAPHeaderHandler" />
    <bean id="TransactionHandler" class="gov.hhs.fha.nhinc.logging.transaction.TransactionHandler" />
</beans>