<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="TemplateManagerPU" transaction-type="RESOURCE_LOCAL">
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <class>gov.hhs.fha.nhinc.template.model.DocSection</class>
    <class>gov.hhs.fha.nhinc.template.model.SectionModule</class>
    <class>gov.hhs.fha.nhinc.template.model.CdaTemplate</class>
    <properties>
      <property name="toplink.jdbc.user" value="nhincuser"/>
      <property name="toplink.jdbc.password" value="nhincpass"/>
      <property name="toplink.jdbc.url" value="jdbc:mysql://localhost:3306/templatedb"/>
      <property name="toplink.jdbc.driver" value="com.mysql.jdbc.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
