<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>DocQuery</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docquery.nhin.DocQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocQuery</servlet-name>
		<url-pattern>/NhinService/RespondingGateway_Query_Service/DocQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DocRetrieve</servlet-name>
		<servlet-class>gov.hhs.fha.nhinc.docretrieve.nhin.DocRetrieve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocRetrieve</servlet-name>
		<url-pattern>/NhinService/RespondingGateway_Retrieve_Service/DocRetrieve</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DocQuery</web-resource-name>
			<url-pattern>/NhinService/RespondingGateway_Query_Service/DocQuery</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>DocRetrieve</web-resource-name>
			<url-pattern>/NhinService/RespondingGateway_Retrieve_Service/DocRetrieve</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>certificate</realm-name>
	</login-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
