.ui-dashboard-column {
    width:200px;
}

.ui-widget-header {
    text-shadow: none;
    background:#254061;
    color:#a8a8a8;
}

.ui-dashboard-column .ui-panel {
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    padding-left: 1px!important;
    padding-right: 1px!important;
    padding-bottom: 1px!important;
    width: 200px!important;
    height: 200px!important;
    border-right-style: solid!important;
    border-bottom-style: solid!important;
    border-left-style: solid!important;
    border-top-color: #254061!important;
    border-right-color: #254061!important;
    border-bottom-color: #254061!important;
    border-left-color: #254061!important;
}

.ui-panel .ui-panel-content {
      color:#a8a8a8;  
}

.ui-panelgrid-admin {
    margin-left: 525px;
}

.ui-panelgrid-admin td, .ui-panelgrid-admin tr {
    border: none;
    background-color: inherit;
}

.admin-button {
    background: #428BCA;
    color: white;
    text-shadow: none;
}
.something {
    
}
