<?xml version="1.0" encoding="UTF-8"?>
<project name="settings">
  <property environment="env"/>
  
  <property name="glassfish.home" value="${env.AS_HOME}"/>
  
  <property name="deployment.dir" value="C:/NHINC" />

  <property name="deployment.binaries.dir" value="${deployment.dir}/nhinc" />

  <property name="deployment.glassfish.admin.port" value="4848"/>
  <property name="deployment.glassfish.server" value="localhost"/>
  
  <property name="deployment.glassfish.domain.name" value="domain1"/>
  <property name="deployment.glassfish.domain.home" value="${glassfish.home}/domains/${deployment.glassfish.domain.name}"/>
  <property name="deployment.glassfish.domain.config.home" value="${glassfish.home}/domains/${deployment.glassfish.domain.name}/config"/>
    
  <property name="deployment.glassfish.domain.source.directory.name" value="test"/>
  <property name="deployment.glassfish.domain.source.directory" value="${script.root.directory}/domains/${deployment.glassfish.domain.source.directory.name}"/>

  <property name="deployment.glassfish.server.username" value="admin" />
  <property name="deployment.glassfish.server.admin.password" value="adminadmin" />
  
  <property name="deployment.glassfish.Red4.domain.jvm.options" value="-Djavax.net.ssl.keyStore=${com.sun.aas.instanceRoot}/config/ga.jks:-Dcom.sun.enterprise.security.httpsOutboundKeyAlias=gateway:-Dcom.sun.xml.ws.transport.http.HttpAdapter.dump=true:-Dcom.sun.xml.ws.transport.http.client.HttpTransportPipe.dump=true:-Djavax.enterprise.resource.xml.webservices.security.level=FINE:-Djavax.enterprise.resource.webservices.jaxws=FINE:-Dcom.sun.jbi.httpbc.enableClientAuth=true:-Djavax.net.ssl.keyStorePassword=nhinc123:-Djavax.net.ssl.trustStorePassword=changeit:-DSERVER_KEY_ALIAS=gateway:-DCLIENT_KEY_ALIAS=gateway:-Xmx1230m:-XX\\:MaxPermSize=256m:-XX\\:PermSize=256m:-Dlog4j.configuration=file\\:${com.sun.aas.instanceRoot}/config/log4j.properties"/>
  <property name="deployment.glassfish.Blue4.domain.jvm.options" value="-Djavax.net.ssl.keyStore=${com.sun.aas.instanceRoot}/config/gateway.jks:-Dcom.sun.enterprise.security.httpsOutboundKeyAlias=gateway:-Dcom.sun.xml.ws.transport.http.HttpAdapter.dump=true:-Dcom.sun.xml.ws.transport.http.client.HttpTransportPipe.dump=true:-Djavax.enterprise.resource.xml.webservices.security.level=FINE:-Djavax.enterprise.resource.webservices.jaxws=FINE:-Dcom.sun.jbi.httpbc.enableClientAuth=true:-Djavax.net.ssl.keyStorePassword=nhinc123:-Djavax.net.ssl.trustStorePassword=changeit:-DSERVER_KEY_ALIAS=gateway:-DCLIENT_KEY_ALIAS=gateway:-Xmx1230m:-XX\\:MaxPermSize=256m:-XX\\:PermSize=256m:-Dlog4j.configuration=file\\:${com.sun.aas.instanceRoot}/config/log4j.properties"/>
  <property name="deployment.glassfish.Dev.domain.jvm.options" value="-Dcom.sun.xml.ws.transport.http.HttpAdapter.dump=true:-Dcom.sun.xml.ws.transport.http.client.HttpTransportPipe.dump=true:-Djavax.enterprise.resource.xml.webservices.security.level=FINE:-Djavax.enterprise.resource.webservices.jaxws=FINE:-Dcom.sun.jbi.httpbc.enableClientAuth=true:-Djavax.net.ssl.keyStorePassword=changeit:-Djavax.net.ssl.trustStorePassword=changeit:-DSERVER_KEY_ALIAS=xws-security-server:-DCLIENT_KEY_ALIAS=xws-security-client:-Xmx1024m:-XX\\:MaxPermSize=256m:-XX\\:PermSize=256m:-Dlog4j.configuration=file\\:${com.sun.aas.instanceRoot}/config/log4j.properties"/>
</project>