<?xml version="1.0" encoding="UTF-8"?>
<project name="nhinc.deployment.settings">
  <property environment="env"/>
  
  <property name="glassfish.home" value="${env.AS_HOME}"/>
  
  <condition property="deploy.os.settings.file" value="settings.win.xml">
    <os family="windows"/>
  </condition>
  <condition property="deploy.os.settings.file" value="settings.unix.xml">
    <os family="unix"/>
  </condition>
  <import file="${deploy.os.settings.file}" />

  <property name="deployment.binaries.dir" value="${deployment.dir}/nhinc" />
  <property name="deployment.glassfish.admin.port" value="4848"/>
  <property name="deployment.glassfish.server" value="localhost"/>
  
  <property name="deployment.glassfish.domain.name" value="domain1"/>
  <property name="deployment.glassfish.domain.home" value="${glassfish.home}/domains/${deployment.glassfish.domain.name}"/>
  <property name="deployment.glassfish.domain.config.home" value="${glassfish.home}/domains/${deployment.glassfish.domain.name}/config"/>
    
  <property name="deployment.glassfish.domain.source.directory.name" value="test"/>
  <property name="deployment.glassfish.domain.source.directory" value="${script.root.directory}/domains/${deployment.glassfish.domain.source.directory.name}"/>

  <property name="deployment.glassfish.server.username" value="admin" />
  <property name="deployment.glassfish.server.admin.password" value="adminadmin" />

  <property name="glassfish.domain.profile.name" value="developer" />

  <property name="deployment.glassfish.Dev.domain.create.jvm.options" value="-Dcom.sun.xml.ws.transport.http.HttpAdapter.dump=true:-Dcom.sun.xml.ws.transport.http.client.HttpTransportPipe.dump=true:-Djavax.enterprise.resource.xml.webservices.security.level=FINE:-Djavax.enterprise.resource.webservices.jaxws=FINE:-Dcom.sun.jbi.httpbc.enableClientAuth=true:-Djavax.net.ssl.keyStorePassword=changeit:-Djavax.net.ssl.trustStorePassword=changeit:-DSERVER_KEY_ALIAS=xws-security-server:-DCLIENT_KEY_ALIAS=xws-security-client:-Xmx1024m:-XX\\:MaxPermSize=256m:-XX\\:PermSize=256m:-Dlog4j.configuration=file\\:${com.sun.aas.instanceRoot}/config/log4j.properties"/>
  <property name="deployment.glassfish.Dev.domain.delete.jvm.options" value="-Xmx512m:-XX\\:MaxPermSize=192m"/>
  <property name="deployment.glassfish.Dev.domain.keystore.alias" value="s1as"/>
  
  <property name="deployment.glassfish.Red4.domain.keystore.alias" value="gateway"/>
  <property name="deployment.glassfish.Red4.domain.create.jvm.options" value="-Dcom.sun.enterprise.security.httpsOutboundKeyAlias=${deployment.glassfish.Red4.domain.keystore.alias}:-Dcom.sun.xml.ws.transport.http.HttpAdapter.dump=true:-Dcom.sun.xml.ws.transport.http.client.HttpTransportPipe.dump=true:-Djavax.enterprise.resource.xml.webservices.security.level=FINE:-Djavax.enterprise.resource.webservices.jaxws=FINE:-Dcom.sun.jbi.httpbc.enableClientAuth=true:-Djavax.net.ssl.keyStorePassword=nhinc123:-Djavax.net.ssl.trustStorePassword=changeit:-DSERVER_KEY_ALIAS=${deployment.glassfish.Red4.domain.keystore.alias}:-DCLIENT_KEY_ALIAS=${deployment.glassfish.Red4.domain.keystore.alias}:-Xmx1230m:-XX\\:MaxPermSize=256m:-XX\\:PermSize=256m:-Dlog4j.configuration=file\\:${com.sun.aas.instanceRoot}/config/log4j.properties:-Djavax.net.ssl.keyStore=${com.sun.aas.instanceRoot}/config/gateway.jks"/>
  <property name="deployment.glassfish.Red4.domain.delete.jvm.options" value="${deployment.glassfish.Dev.domain.delete.jvm.options}:-Djavax.net.ssl.keyStore=${com.sun.aas.instanceRoot}/config/keystore.jks"/>

  <property name="deployment.glassfish.Blue4.domain.keystore.alias" value="gateway"/>  
  <property name="deployment.glassfish.Blue4.domain.create.jvm.options" value="-Dcom.sun.enterprise.security.httpsOutboundKeyAlias=${deployment.glassfish.Blue4.domain.keystore.alias}:-Dcom.sun.xml.ws.transport.http.HttpAdapter.dump=true:-Dcom.sun.xml.ws.transport.http.client.HttpTransportPipe.dump=true:-Djavax.enterprise.resource.xml.webservices.security.level=FINE:-Djavax.enterprise.resource.webservices.jaxws=FINE:-Dcom.sun.jbi.httpbc.enableClientAuth=true:-Djavax.net.ssl.keyStorePassword=nhinc123:-Djavax.net.ssl.trustStorePassword=changeit:-DSERVER_KEY_ALIAS=${deployment.glassfish.Blue4.domain.keystore.alias}:-DCLIENT_KEY_ALIAS=${deployment.glassfish.Blue4.domain.keystore.alias}:-Xmx1230m:-XX\\:MaxPermSize=256m:-XX\\:PermSize=256m:-Dlog4j.configuration=file\\:${com.sun.aas.instanceRoot}/config/log4j.properties:-Djavax.net.ssl.keyStore=${com.sun.aas.instanceRoot}/config/gateway.jks"/>
  <property name="deployment.glassfish.Blue4.domain.delete.jvm.options" value="${deployment.glassfish.Dev.domain.delete.jvm.options}:-Djavax.net.ssl.keyStore=${com.sun.aas.instanceRoot}/config/keystore.jks"/>
</project>